# Introduction to Cross-Validation - Lab

## Introduction

In this lab, you'll be able to practice your cross-validation skills!


## Objectives

You will be able to:

- Compare the results with normal holdout validation
- Apply 5-fold cross validation for regression

## Let's get started

This time, let's only include the variables that were previously selected using recursive feature elimination. We included the code to preprocess below.

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.datasets import load_boston


boston = load_boston()

boston_features = pd.DataFrame(boston.data, columns = boston.feature_names)
b = boston_features["B"]
logdis = np.log(boston_features["DIS"])
loglstat = np.log(boston_features["LSTAT"])

# minmax scaling
boston_features["B"] = (b-min(b))/(max(b)-min(b))
boston_features["DIS"] = (logdis-min(logdis))/(max(logdis)-min(logdis))

#standardization
boston_features["LSTAT"] = (loglstat-np.mean(loglstat))/np.sqrt(np.var(loglstat))

In [21]:
boston = load_boston()

In [22]:
boston_features = pd.DataFrame(boston.data,
                               columns=boston.feature_names)

In [23]:
boston_features.head().T

                 0          1          2          3          4
CRIM       0.00632    0.02731    0.02729    0.03237    0.06905
ZN        18.00000    0.00000    0.00000    0.00000    0.00000
INDUS      2.31000    7.07000    7.07000    2.18000    2.18000
CHAS       0.00000    0.00000    0.00000    0.00000    0.00000
NOX        0.53800    0.46900    0.46900    0.45800    0.45800
RM         6.57500    6.42100    7.18500    6.99800    7.14700
AGE       65.20000   78.90000   61.10000   45.80000   54.20000
DIS        4.09000    4.96710    4.96710    6.06220    6.06220
RAD        1.00000    2.00000    2.00000    3.00000    3.00000
TAX      296.00000  242.00000  242.00000  222.00000  222.00000
PTRATIO   15.30000   17.80000   17.80000   18.70000   18.70000
B        396.90000  396.90000  392.83000  394.63000  396.90000
LSTAT      4.98000    9.14000    4.03000    2.94000    5.33000

## Train test split

Perform a train-test-split with a test set of 0.20.

In [24]:
X = boston_features[['CHAS', 'RM', 'DIS', 'B', 'LSTAT']]
y = pd.DataFrame(boston.target,columns = ['target'])
type(X)

pandas.core.frame.DataFrame

In [25]:
from sklearn.model_selection import train_test_split

In [70]:
train_test_split?

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [27]:
print(len(X_train), len(X_test), len(y_train), len(y_test))

404 102 404 102

Fit the model and apply the model to the make test set predictions

In [28]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()

linreg.fit(X_train, y_train)
y_hat_test = linreg.predict(X_test)

In [29]:
from sklearn.linear_model import LinearRegression

In [30]:
model =LinearRegression()

In [31]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [32]:
model.coef_

array([[ 4.86138844,  5.02898019, -0.34475254,  0.01276825, -0.64881231]])

Calculate the residuals and the mean squared error

In [42]:
y_pred = model.predict(X_test)

In [44]:
residuals = y_test - y_pred

In [45]:
squared_error = residuals **2
squared_error

         target
183   14.056882
260   17.360146
13     8.688389
439    0.192790
430    2.826946
368  753.016600
413   34.968204
188    1.277299
20     0.146852
31    39.575351
116    2.168031
307    0.452931
383    0.349380
79     4.775737
230    8.240496
108   18.914353
38     4.963666
75     9.593138
342   79.932167
409   76.483042
262  118.939701
109    1.687341
133    0.339957
225   98.048237
92    11.067187
139    0.986466
252    0.089995
303    7.314102
182   31.350368
176    0.119118
..          ...
2      6.418934
276    8.678404
200    5.255710
72     6.929243
354    2.686363
327    1.854640
348    5.956042
275    0.274237
322   14.204757
240   11.952105
144   38.419031
125    1.773858
333   15.774782
148  114.889912
227    0.514194
462    7.079903
203  166.000693
412  473.022189
0     23.394035
81    10.475520
222   22.223374
206    0.670938
4     29.091897
45     1.701022
402   42.380442
63     0.236462
268   74.750689
495   43.604632
329    7.974275
168    0.655701

[102 rows x 1 columns]

In [36]:
mse = squared_error.mean()

## Cross-Validation: let's build it from scratch!

### Create a cross-validation function

Write a function k-folds that splits a dataset into k evenly sized pieces.
If the full dataset is not divisible by k, make the first few folds one larger then later ones.

We want the folds to be a list of subsets of data!

In [37]:
def kfolds(data, k):
    #Force data as pandas dataframe
    data = pd.DataFrame(data)
    num_observations = len(data)
    fold_size = num_observations//k
    leftovers = num_observations%k
    folds = []
    start_obs = 0
    for fold_n in range(1,k+1):
        if fold_n <= leftovers:
            #Fold Size will be 1 larger to account for leftovers
            fold =  data.iloc[start_obs : start_obs+fold_size+1] 
            folds.append(fold)
            start_obs +=  fold_size + 1
        else:
            fold =  data.iloc[start_obs : start_obs+fold_size] 
            folds.append(fold)
            start_obs +=  fold_size
            
    return folds

### Apply it to the Boston Housing Data

In [38]:
bos_data = pd.concat([X.reset_index(drop=True), y], axis=1)

In [39]:
bos_folds = kfolds(bos_data, 5)

### Perform a linear regression for each fold, and calculate the training and test error

Perform linear regression on each and calculate the training and test error.

In [40]:
test_errs = []
train_errs = []
k=5

for n in range(k):
    # Split in train and test for the fold
    train = pd.concat([fold for i, fold in enumerate(bos_folds) if i!=n])
    test = bos_folds[n]
    # Fit a linear regression model
    linreg.fit(train[X.columns], train[y.columns])
    #Evaluate Train and Test Errors
    y_hat_train = linreg.predict(train[X.columns])
    y_hat_test = linreg.predict(test[X.columns])
    train_residuals = y_hat_train - train[y.columns]
    test_residuals = y_hat_test - test[y.columns]
    train_errs.append(np.mean(train_residuals.astype(float)**2))
    test_errs.append(np.mean(test_residuals.astype(float)**2))
print(train_errs)
print(test_errs)

[target    32.129721
dtype: float64, target    28.41105
dtype: float64, target    26.950112
dtype: float64, target    18.705423
dtype: float64, target    27.974246
dtype: float64]
[target    11.70713
dtype: float64, target    27.160829
dtype: float64, target    42.046391
dtype: float64, target    77.146314
dtype: float64, target    36.712923
dtype: float64]

## Cross-Validation using Scikit-Learn

This was a bit of work! Now, let's perform 5-fold cross-validation to get the mean squared error through scikit-learn. Let's have a look at the five individual MSEs and explain what's going on.

Next, calculate the mean of the MSE over the 5 cross-validations and compare and contrast with the result from the train-test-split case.

##  Summary

Congratulations! You now practiced your knowledge on k-fold crossvalidation!